name "prod"
description "Its prod env"
cookbook_versions({
   "{{ COOKBOOK_NAME }}" => "<= {{ COOKBOOK_VERSION }}"
})
override_attributes '{{ COOKBOOK_NAME }}' =>  { 'user-1' => '{{ ENV_FILES_VALUE }}' }
